<p>
  <b>Name:</b>
  <%=h @product.name %>
</p>

<p>
  <b>Price:</b>
  <%=h @product.price %>
</p>

<p>
  <b>Description:</b>
  <%=h @product.description %>
</p>

<p>
  <b>Stock:</b>
  <%=h @product.stock %>
</p>

<p>
  <h2>Categories this product belongs to</h2>
  <ul>
    <% @product.categories.each do |category| %>
      <%= content_tag :li, link_to(category.name, category_path(category)) %>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>